@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal/NeueMontreal-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeueMontreal SemiBold';
  src: url('/fonts/NeueMontreal/NeueMontreal-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
